{
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",

  "overrides": [
    {
      "files": ["**/utils**/*.ts", "index.html"],
      "options": {
        "printWidth": 150
      },
      "excludeFiles": ["**/seal.ts"]
    }
  ],

  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cn"]
}
