@import 'tailwindcss';
@plugin '@tailwindcss/forms';

/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
/* when uncomment, add "dark" class to <html> element to switch to dark mode manually */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* prettier-ignore */
  --default-font-feature-settings: /* See: https://rsms.me/inter/inter.css */
    'cv02', /* Open four */
    'cv03', /* Open six */
    'cv04', /* Open nine */
    'cv11'; /* Single-story a */
}

@theme {
  --font-sans:
    InterVariable, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-primary-50: var(--color-rose-50);
  --color-primary-100: var(--color-rose-100);
  --color-primary-200: var(--color-rose-200);
  --color-primary-300: var(--color-rose-300);
  --color-primary-400: var(--color-rose-400);
  --color-primary-500: var(--color-rose-500);
  --color-primary-600: var(--color-rose-600);
  --color-primary-700: var(--color-rose-700);
  --color-primary-800: var(--color-rose-800);
  --color-primary-900: var(--color-rose-900);
  --color-primary-950: var(--color-rose-950);
}
